body {
  background-color: #f8e3dc;
  margin: auto;
  font: normal 18px/normal "Coda", Helvetica, sans-serif;
}

.main {
  display: block;
  margin: 0 auto;
  margin-top: 10em;
  max-width: 800px;
  top: 50%;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 2px #94332d;
  padding-bottom: 1px;
  padding-top: 1px;
}
form div {
  width: 50%;
  margin: 0 auto;
}

header {
  border: none;
  text-align: center;
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
input {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 1px solid orange;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  height: auto;
  cursor: default;
  opacity: 1;
  margin: 8px;
  margin-left: 0;
  padding: 6px 6px;
  overflow: visible;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: inherit;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(252, 252, 252, 1);
}

input:focus {
  outline: none;
}
button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 55px;
  font: inherit;
  border-radius: 5px;
  border: none;
  height: 40px;
  background-color: orange;
}
