body {
  background-color: #f0edec;
  margin: auto;
  font: normal 18px/normal "Coda", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
.titleContainer {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 27%;
  min-height: 290px;
  max-height: 280px;
  background-color: orangered;
  color: white;
}

.titleContainer div {
  position: absolute;
}

.titleText {
  position: relative;
  text-align: center;
  min-width: 25%;
  left: 42.5%;
  top: 43%;
}
.smallImg {
  position: absolute;
  display: inline-ock;
  margin: 0 auto;
  text-align: center;
  min-width: 10%;
  min-height: 8%;
  left: 50%;
  top: 25%;
}
.smallImg img {
  max-height: 70px;
  display: inline-block;
}

.bigImg {
  display: inline-block;
  width: 30%;
  margin-left: 5%;
  height: 100%;
}
.bigImg img {
  width: 100%;
  height: 100%;
}

.navContainer {
  overflow: hidden;
  min-height: 5px;
}

ul {
  margin: 0;
  padding: 0;
  min-width: 15%;
  list-style: none;
  float: right;
  margin: 0;
  margin-top: 1%;
}

li {
  display: inline-block;
  margin-left: 8%;
}

header h1 {
  position: relative;
  max-width: 300px;
}
header div {
  position: absolute;
  display: inline-block;
}

#order-section {
  position: relative;
}

#order-section h2 {
  display: inline-block;
  font-size: 200%;
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}

button {
  display: inline-block;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 1%;
  min-width: 15%;
  min-height: 80px;
  font-size: 180%;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  background-color: orange;
}

button:focus {
  outline: none;
}

#reason {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 3%;
  height: 27%;
  min-height: 290px;
  text-align: center;
  background-color: gey;
}

#reason div {
  position: relative;
  display: inline-block;
  margin-bottom: 7%;
  margin-top: 5%;
  min-width: 25%;
}

.reasonImg {
  position: relative;
  width: 60%;
}

.reasonHead {
  font-weight: bold;
  font-size: 150%;
}

#showcase {
}

.slide img {
  max-height: 40px;
}

.icons {
  position: relative;
  text-align: center;
}

.iconMain {
  display: inline-block;
}

.iconMain img {
  max-height: 40px;
}

footer {
  position: relative;
  margin: 0 auto;
  margin-top: 5.5%;
  text-align: center;
  background-color: grey;
}

.footerTitle {
  position: relative;

  padding: 1%;
  height: 5px;
}

.smallImg1 {
  position: absolute;
  display: inline-block;
  width: 4%;
  height: 100%;
  margin-bottom: 0;
}
.smallImg1 img {
  height: 100%;
  width: 100%;
}

.titleText1 {
  display: inline-block;
  position: relative;
  text-align: center;
}
.titleText1 h1 {
  margin: 0;
  font-size: 150%;
}
